.container {
    background-color: blueviolet;
    width: 40px;
    height: 40px;
    display: inline-block;

}
.box {
    transition: opacity 0.6s ease;
}
.container:hover > :not(:hover) {
    opacity: 0.4;
}